          
                            <section class="dark-bg text-center section-padding contact-wrap" id="contact">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Alunos, <br>o para vocês o iu. </h1>
              </div>
                          <div class="container">
              <div class="col-md-8 col-md-offset-2">

                  <a href="#" class="ignite-btn btn-app-download2"> <i class="fa fa-apple"></i> iu. pro <br> Download iOS</a>

                  <a href="#" class="ignite-btn btn-app-download"> <i class="fa fa-android"></i> iu. pro <br> Download Android</a>
              </div>
            </div>
                
            </div>
          </section>